body{
    background-color: rgb(15, 77, 147);
}
.speed1{
    
    background-color: rgb(0, 0, 0);
    width: 700px;
    height: 500px;
    border-radius: 90%;
    position: relative;
    left: 350px;
    top: 100px;
}
#speed{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 500%;
position: relative;
left: 210px;
top: 60px;
}
#walking{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 500%;
position: relative;
left: 160px;
top: -20px;
}

#in{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 500%;
position: relative;
left: 290px;
top: -90px;
}

#NYC{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 500%;
position: relative;
left: 250px;
top: -160px;
}
.sq{
    width: 250px;
    height: 250px;
    rotate: -30deg;
    position: relative;
    top: -610px;
    left: -60px;

}


.RESIZE{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 380%;
position: relative;
left: 20px;
}
.THE{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 380%;
position: relative;
left: 20px;
top: -60px;
}
.PAGE{
color: rgb(255, 0, 0);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 10%;
position: relative;
left: 20px;
top: -135px;

}
#make{
    color: white;
    position: relative;
    top: -380px;
    text-align: center;
    color: white;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 200;
    font-style: normal; 
    
}
.walk{
    background-color:rgb(15, 77, 147);
    width: 100px;
    height: 100px;
    
}
#afraid{
color: rgb(15, 77, 147);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 100%;
}
#to{
color: rgb(15, 77, 147);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 100%;  
}
#feel{
color: rgb(15, 77, 147);
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
font-size: 100%;
}
.dis{
    opacity: 0;
}
.zc{
    background-color:rgb(15, 77, 147);
    width: 100px;
    height: 100px;
}
button{
    opacity: 0;
}
#pushing{
    opacity: 0;
}
#on{
    opacity: 0;
}
.next{
    position: relative;
    left: 1390px;
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: italic; 
    color: aliceblue;
}
.back{
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: italic; 
    color: aliceblue;
}

@media screen and (max-width:1200px){
    body{
        background-color: rgb(255, 0, 0);
    }
    .speed1{
        background-color: rgb(255, 0, 0);
    }
    #speed{
        color: rgb(255, 0, 0);
    }
    #walking{
        color: rgb(255, 0, 0);
    }
    #in{
        color: rgb(255, 0, 0);
    }
    #NYC{
        color:rgb(255, 0, 0);

    }
    #make{
        opacity: 0;
    }
    .walk{
        background-image: url(walk\ sign.png);
        background-size: 1920px x 1080px ;
        background-color: rgb(255, 0, 0);
        width: 500px;
        height: 400px;
        position: relative;
        left: 350px;
        top: -400px;
    }
    #afraid{
    color: rgb(255, 255, 255);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 270%;
    position: relative;
    left: 160px;
    top: 80px;
    }
    #to{
    color: rgb(255, 255, 255);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 270%;
    position: relative;
    left: 160px;
    top: 50px;
    }
    #feel{
     color: rgb(255, 255, 255);
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 270%;
    position: relative;
    left: 160px;
    top: 20px;
    }
    .dis{
        opacity: 1;
    }
    .sq{
        opacity: 0;;
    }
    .zc{
        background-color: red;
    }
    button{
        opacity: 0;
    }
    #pushing{
        opacity: 0;
    }
    #on{
        opacity: 0;
    }
    .back{
        opacity: 0;
    }
    .next{
        opacity: 0;
    }
    }

@media screen and (max-width: 900px){
    body{
        background-color: rgb(255, 0, 0);
    }
    .speed1{
        background-color: rgb(255, 0, 0);
    }
    #speed{
        color: rgb(255, 0, 0);
    }
    #walking{
        color: rgb(255, 0, 0);
    }
    #in{
        color: rgb(255, 0, 0);
    }
    #NYC{
        color:rgb(255, 0, 0);

    }
    .walk{
        background-image: url(walk\ sign.png);
        background-size: 1920px x 1080px ;
        background-color: rgb(255, 0, 0);
        width: 500px;
        height: 400px;
        position: relative;
        left: 200px;
        top: -400px;
    }
    #afraid{
        color: rgb(255, 255, 255);
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 270%;
        position: relative;
        left: 160px;
        top: 80px;
        }
        #to{
        color: rgb(255, 255, 255);
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 270%;
        position: relative;
        left: 160px;
        top: 50px;
        }
        #feel{
         color: rgb(255, 255, 255);
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 270%;
        position: relative;
        left: 160px;
        top: 20px;
        }
        .dis{
            opacity: 1;
        }
        .sq{
            background-color: rgb(255, 0, 0);
        }
        .zc{
            background-color: red;
        }
        button{
            opacity: 0;
        }
        #pushing{
            opacity: 0;
        }
        #on{
            opacity: 0;
        }
        .back{
            opacity: 0;
        }
        .next{
            opacity: 0;
        }

}
@media screen and (max-width: 650px){
    body{
        background-color:rgb(0, 163, 57);
    }
    
    .speed1{
        background-color: rgb(0, 163, 57);
    }
    #speed{
        color:rgb(0, 163, 57);
    }
    #walking{
        color: rgb(0, 163, 57);
    }
    #in{
        color: rgb(0, 163, 57);
    }
    #NYC{
        color:rgb(0, 163, 57);

    }
    .walk{
        background-color: rgb(0, 163, 57);
        opacity: 0;
    }
    .sq{
        background-color: rgb(0, 163, 57);
    }
    .RESIZE{
        color: rgb(0, 163, 57);
    }
    .THE{
        color: rgb(0, 163, 57);
    }
    .PAGE{
        color: rgb(0, 163, 57);
    }
    .zc{
        background-color: rgb(0, 163, 57);
        position: relative;
        top: -820px;
        left: 160px;
        background-image: url(walk.png);
        width: 396px;
        height: 400px;
    }
    button{
        opacity: 1;
    }
    button:hover{
        border-radius: 50%;
        background-color: aqua;
        color: black;
    }
   #box{
    background-color: rgb(0, 98, 137);
    color: white;
    width: 250px;
    height: 70px;
    position:relative;
    left: 55px;
    top: 150px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 200%;

   }
    #pushing{
        color:rgb(0, 0, 0);
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 300%;
        background-color: aqua;
        position: relative;
        top: -750px;
        left: 200px;
    }
    #on{
        color: rgb(0, 0, 0);
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 300%;
        position:relative;
        top: -800px;
        left: 200px;
    }
    .back{
        opacity: 0;
    }
    .next{
        opacity: 0;
    }
   

    }
    @media screen and (max-width:620px){
        body{
            background-color:rgb(0, 163, 57);
        }
        
        .speed1{
            background-color: rgb(0, 163, 57);
        }
        #speed{
            color:rgb(0, 163, 57);
        }
        #walking{
            color: rgb(0, 163, 57);
        }
        #in{
            color: rgb(0, 163, 57);
        }
        #NYC{
            color:rgb(0, 163, 57);
    
        }
        .walk{
            background-color: rgb(0, 163, 57);
            opacity: 0;
        }
        .sq{
            background-color: rgb(0, 163, 57);
        }
        .RESIZE{
            color: rgb(0, 163, 57);
        }
        .THE{
            color: rgb(0, 163, 57);
        }
        .PAGE{
            color: rgb(0, 163, 57);
        }
        .zc{
            background-color: rgb(0, 163, 57);
            position: relative;
            top: -820px;
            left: 90px;
            background-image: url(walk.png);
            width: 396px;
            height: 400px;
        }
        button{
            opacity: 1;
        }
        button:hover{
            border-radius: 50%;
            background-color: aqua;
            color: black;
        }
       #box{
        background-color: rgb(0, 98, 137);
        color: white;
        width: 250px;
        height: 67px;
        position:relative;
        left: 55px;
        top: 150px;
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 200%;
    
       }
        #pushing{
            color:rgb(0, 0, 0);
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 700;
            font-style: italic;
            font-size: 300%;
            background-color: aqua;
            position: relative;
            top: -750px;
            left: 200px;
        }
        #on{
            color: rgb(0, 0, 0);
            font-family: "neue-haas-grotesk-display", sans-serif;
            font-weight: 700;
            font-style: italic;
            font-size: 300%;
            position:relative;
            top: -800px;
            left: 200px;
        }
        .back{
            opacity: 0;
        }
        .next{
            opacity: 0;
        }
       

    }


    
